@model IQueryable<ExceptionLog>

@{
    Layout = "_AppLayout";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["ExceptionLogs.Title.Text"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["ExceptionLogs.Title.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="margin-bottom: 80px;">
                    <div class="card-body">
                        @(Html
                            .Grid(Model)
                            .Build(columns =>
                            {
                                columns.Add(model => $"<div class='d-flex justify-content-center'><button class='btn btn-block btn-default btn-sm' onclick=\"showInPopup('/App/ExceptionLog/Log/{model.Id}', '{localization["ExceptionLogs.ViewModal.Title.Text"].Value}')\"><i class='fas fa-eye'></i></button></div>").Encoded(false);
                                columns.Add(model => model.StatusCode).Titled(@localization["ExceptionLogs.Table.Column1.Text"]);
                                columns.Add(model => model.ExceptionType).Titled(@localization["ExceptionLogs.Table.Column2.Text"]);
                                columns.Add(model => model.ExceptionTitle).Titled(@localization["ExceptionLogs.Table.Column3.Text"]);
                                columns.Add(model => model.RequestMethod).Titled(@localization["ExceptionLogs.Table.Column5.Text"]);
                                columns.Add(model => model.RequestPath).Titled(@localization["ExceptionLogs.Table.Column6.Text"]);
                                columns.Add(model => model.CreatedDate).Titled(@localization["ExceptionLogs.Table.Column7.Text"]);
                            })
                            .Filterable(GridFilterCase.Lower)
                            .Using(GridFilterMode.Row)
                            .Empty(@localization["ExceptionLogs.Table.ResultMessage.Text"])
                            .Pageable(pager =>
                            {
                                pager.RowsPerPage = 10;
                            })
                            .Sortable()
                            )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/custom/exception-log.min.js"></script>
}