<!DOCTYPE html>
<html>
<head>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="description" content="@localization["MetaTags.Description.Text"]" />
    <meta name="keywords" content="@localization["MetaTags.Keywords.Text"]" />
    <meta name="author" content="@localization["MetaTags.Author.Text"]" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@localization["Layout.Header.Title.Text"]</title>

    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon" />

    <!-- Auth Layout Bundle -->
    <link rel="stylesheet" href="~/bundles/css/auth.layout.bundle.min.css" />

</head>
<body class="hold-transition login-page">

    @RenderBody()

    <!-- Auth Layout Bundle -->
    <script src="~/bundles/js/auth.layout.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @await Component.InvokeAsync("Notyf")

</body>
</html>
