@model CountyViewModel

@{
    ViewData["Title"] = "Add";
    Layout = null;
}

<script type="text/javascript">
    $('.select2').select2({
        dropdownParent: $('#form-modal'),
        theme: 'bootstrap4',
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });
</script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" onsubmit="return AddRecord(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.County.Name" class="control-label">@localization["Counties.Table.Column1.Text"]</label>
                        <input asp-for="@Model.County.Name" class="form-control" />
                        <span asp-validation-for="@Model.County.Name" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-md-0 mb-sm-4 mb-4">
                    <div class="form-group">
                        <label asp-for="@Model.County.Latitude" class="control-label">@localization["Counties.Table.Column3.Text"]</label>
                        <input asp-for="@Model.County.Latitude" class="form-control" />
                        <span asp-validation-for="@Model.County.Latitude" class="error invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.County.Longitude" class="control-label">@localization["Counties.Table.Column3.Text"]</label>
                        <input asp-for="@Model.County.Longitude" class="form-control" />
                        <span asp-validation-for="@Model.County.Longitude" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.County.CityId" class="control-label">@localization["Counties.Table.Column2.Text"]</label>
                        <select asp-for="@Model.County.CityId" asp-items="@Model.CityList" class="form-control select2" style="width: 100% !important;" id="city-select-field">
                            <option disabled selected>@localization["AddOrEditModal.CitySelection.Text"]</option>
                        </select>
                        <span asp-validation-for="@Model.County.CityId" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}