@model VisitorStatisticViewModel

@{
    Layout = "_AppLayout";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["Layout.Header.Navbar.Items1.Text"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["Layout.Header.Navbar.Items1.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@localization["Statistics.Item1.Title.Text"]</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>@Model.GetTotalUserCount</h3>
                                        <p>@localization["Statistics.Item1.Info1.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>@Model.GetTotalVisitorUserCount</h3>
                                        <p>@localization["Statistics.Item1.Info2.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user-ninja"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>@Model.GetTotalVisitorRecorderUserCount</h3>
                                        <p>@localization["Statistics.Item1.Info3.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user-nurse"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <h3>@Model.GetTotalAdminUserCount</h3>
                                        <p>@localization["Statistics.Item1.Info4.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-user-tie"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@localization["Statistics.Item2.Title.Text"]</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>@Model.GetLongestDistanceByVisitorOneTime.LongestDistance @localization["Statistics.Item2.Info1.Text"]</h3>
                                        <p>@localization["Statistics.Item2.Info2.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-walking"></i>
                                    </div>
                                    <span class="small-box-footer">
                                        @Model.GetLongestDistanceByVisitorOneTime.VisitorInfo
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>@Model.GetLongestDistanceByVisitorAllTime.LongestDistance @localization["Statistics.Item2.Info3.Text"]</h3>
                                        <p>@localization["Statistics.Item2.Info4.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-running"></i>
                                    </div>
                                    <span class="small-box-footer">
                                        @Model.GetLongestDistanceByVisitorAllTime.VisitorInfo
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>@Model.GetHighestCountOfVisitedCountyByVisitor.CountOfDistinctVisitedCounty @localization["Statistics.Item2.Info5.Text"]</h3>
                                        <p>@localization["Statistics.Item2.Info6.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-skating"></i>
                                    </div>
                                    <span class="small-box-footer">
                                        @Model.GetHighestCountOfVisitedCountyByVisitor.VisitorInfo
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>@Model.GetHighestCountOfVisitedCityByVisitor.CountOfDistinctVisitedCity @localization["Statistics.Item2.Info7.Text"]</h3>
                                        <p>@localization["Statistics.Item2.Info8.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-hiking"></i>
                                    </div>
                                    <span class="small-box-footer">
                                        @Model.GetHighestCountOfVisitedCityByVisitor.VisitorInfo
                                    </span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <h3>@Model.GetHighestCountOfVisitedCountryByVisitor.CountOfDistinctVisitedCountry @localization["Statistics.Item2.Info9.Text"]</h3>
                                        <p>@localization["Statistics.Item2.Info10.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-snowboarding"></i>
                                    </div>
                                    <span class="small-box-footer">
                                        @Model.GetHighestCountOfVisitedCountryByVisitor.VisitorInfo
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card" style="margin-bottom: 80px;">
                    <div class="card-header">
                        <h3 class="card-title">@localization["Statistics.Item3.Title.Text"]</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalRegionCount</h3>
                                        <p>@localization["Statistics.Item3.Info1.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-globe-africa"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalSubRegionCount</h3>
                                        <p>@localization["Statistics.Item3.Info2.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-map"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalCountryCount</h3>
                                        <p>@localization["Statistics.Item3.Info3.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-flag"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalCityCount</h3>
                                        <p>@localization["Statistics.Item3.Info4.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-city"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalCountyCount</h3>
                                        <p>@localization["Statistics.Item3.Info5.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-building"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-12">
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <h3>@Model.GetTotalVisitedCountyCount</h3>
                                        <p>@localization["Statistics.Item3.Info6.Text"]</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-store-alt"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>