@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn"
     data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">@localization["Home.Navbar.Item3.Text"]</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">@localization["Home.Navbar.Item1.Text"]</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    @localization["Home.Navbar.Item3.Text"]
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5">
                    @localization["Home.Contact.Title.Text"]
                </h1>
                <p class="mb-4">
                    @localization["Home.Contact.Info.Text"]
                </p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text"
                                       class="form-control"
                                       id="name"
                                       placeholder="@localization["Home.Contact.Item1.Text"]" />
                                <label for="name">@localization["Home.Contact.Item1.Text"]</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       placeholder="@localization["Home.Contact.Item2.Text"]" />
                                <label for="email">@localization["Home.Contact.Item2.Text"]</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text"
                                       class="form-control"
                                       id="subject"
                                       placeholder="@localization["Home.Contact.Item3.Text"]" />
                                <label for="subject">@localization["Home.Contact.Item3.Text"]</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control"
                                          placeholder="@localization["Home.Contact.Item4.Text"]"
                                          id="message"
                                          style="height: 100px"></textarea>
                                <label for="message">@localization["Home.Contact.Item4.Text"]</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">
                                @localization["Home.Contact.SubmitBtn.Text"]
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 wow fadeIn"
                 data-wow-delay="0.5s"
                 style="min-height: 450px">
                <div class="position-relative rounded overflow-hidden h-100">
                    <iframe class="position-relative w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25932.497083241666!2d32.90748336176139!3d39.927362234660215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d356ce9eccabc1%3A0x6e2745fc8b863ee!2sMamak%2FAnkara!5e0!3m2!1sen!2str!4v1703241430603!5m2!1sen!2str"
                            frameborder="0"
                            style="min-height: 450px; border: 0"
                            allowfullscreen=""
                            aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

