@model VisitorViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<script type="text/javascript">
    $('#citylist').select2({
        dropdownParent: $('#form-modal'),
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });

    $('#county-id').select2({
        dropdownParent: $('#form-modal'),
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });

    $('#gender-select-field').select2({
        dropdownParent: $('#form-modal'),
        theme: "bootstrap-5",
        width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
        placeholder: $(this).data('placeholder'),
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });

    $("#visitor-birthdate").flatpickr({
        "locale": document.getElementById('ActiveLanguage').value.substring(0, 2),
        "enableTime": true,
        "maxDate": "2023-11",
        "minDate": "1923-01",
        "time_24hr": true,
        "allowInput": true,
        "altInput": true,
        "altFormat": "j F Y H:i",
        "disableMobile": true
    });
</script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@ViewData["Id"]" onsubmit="return EditRecord(this);"
            autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@ViewData["Id"]" />
            <input type="hidden" asp-for="Visitor.VisitorAddress.Id" />
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="Visitor.Name"
                        class="control-label">@localization["Visitors.Table.Column1.Text"]</label>
                    <input asp-for="Visitor.Name" class="form-control" />
                    <span asp-validation-for="Visitor.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="Visitor.Surname"
                        class="control-label">@localization["Visitors.Table.Column2.Text"]</label>
                    <input asp-for="Visitor.Surname" class="form-control" />
                    <span asp-validation-for="Visitor.Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6 mb-md-0 mb-sm-4 mb-4">
                    <div class="form-group">
                        <label asp-for="Visitor.BirthDate"
                            class="control-label">@localization["Visitors.Table.Column3.Text"]</label>
                        <input asp-for="Visitor.BirthDate" class="form-control" id="visitor-birthdate" />
                        <span asp-validation-for="Visitor.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Visitor.Gender"
                            class="control-label">@localization["Visitors.Table.Column4.Text"]</label>
                        <select asp-for="Visitor.Gender" asp-items="@Model.GenderList" class="form-select" id="gender-select-field">
                            <option disabled selected>@localization["AddOrEditModal.GenderSelection.Text"]</option>
                        </select>
                        <span asp-validation-for="Visitor.Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="Visitor.VisitorAddress.CityId"
                        class="control-label">@localization["Visitors.Table.Column6.Text"]</label>
                    <select id="citylist" onchange="cityChange()" asp-for="Visitor.VisitorAddress.CityId"
                            asp-items="@Model.CityList" class="form-select" id="city-select-field">
                        <option disabled selected value="0">@localization["AddOrEditModal.CitySelection.Text"]</option>
                    </select>
                    <span asp-validation-for="Visitor.VisitorAddress.CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4" id="countylist">
                <div class="form-group">
                    <label asp-for="Visitor.VisitorAddress.CountyId"
                        class="control-label">@localization["Visitors.Table.Column7.Text"]</label>
                    <select id="county-id" asp-for="Visitor.VisitorAddress.CountyId" asp-items="@Model.CountyList" class="form-select" id="county-select-field">
                        <option disabled selected value="0">@localization["AddOrEditModal.CountySelection.Text"]
                        </option>
                    </select>
                    <span asp-validation-for="Visitor.VisitorAddress.CountyId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]"
                            class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}