@model VisitedCountyViewModel

@{
    Layout = null;
}

<script type="text/javascript">

    $('.select2').select2({
        dropdownParent: $('#form-modal'),
        theme: 'bootstrap4',
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });

    $('#visited-date').datetimepicker({
        icons:
        {
            time: 'far fa-clock'
        },
        locale: document.getElementById('ActiveLanguage').value,
        date: Date()
    });
</script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" onsubmit="return AddRecord(this);"
              autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (@User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() == AppRoles.Visitor)
            {
                <div class="row mt-4 d-none">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@Model.VisitedCounty.UserId"
                                   class="control-label">@localization["VisitedCounties.Table.Column1.Text"]</label>
                            <select asp-for="@Model.VisitedCounty.UserId" asp-items="@Model.VisitorList" class="form-control select2" style="width: 100% !important;" id="visitor-select-field">
                            </select>
                            <span asp-validation-for="@Model.VisitedCounty.UserId" class=" text-danger"></span>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row mt-4">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="@Model.VisitedCounty.UserId"
                                   class="control-label">@localization["VisitedCounties.Table.Column1.Text"]</label>
                            <select asp-for="@Model.VisitedCounty.UserId" asp-items="@Model.VisitorList" class="form-control select2" style="width: 100% !important;" id="visitor-select-field">
                                <option disabled selected>@localization["AddOrEditModal.VisitorSelection.Text"]</option>
                            </select>
                            <span asp-validation-for="@Model.VisitedCounty.UserId" class=" text-danger"></span>
                        </div>
                    </div>
                </div>
            }

            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.CityId"
                               class="control-label">@localization["VisitedCounties.Table.Column3.Text"]</label>
                        <select id="citylist" onchange="cityChange()" asp-for="@Model.VisitedCounty.CityId" asp-items="@Model.CityList"
                                class="form-control select2" style="width: 100% !important;">
                            <option disabled selected value="0">@localization["AddOrEditModal.CitySelection.Text"]</option>
                        </select>
                        <span asp-validation-for="@Model.VisitedCounty.CityId" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4" id="countylist">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.CountyId"
                               class="control-label">@localization["VisitedCounties.Table.Column2.Text"]</label>
                        <select id="county-id" asp-for="@Model.VisitedCounty.CountyId" asp-items="@Model.CountyList" class="form-control select2" style="width: 100% !important;">
                            <option disabled selected value="0">
                                @localization["AddOrEditModal.CountySelection.Text"]
                            </option>
                        </select>
                        <span asp-validation-for="@Model.VisitedCounty.CountyId" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.VisitDate"
                               class="control-label">@localization["VisitedCounties.Table.Column4.Text"]</label>
                        <div class="input-group date" id="visited-date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#visited-date" asp-for="@Model.VisitedCounty.VisitDate">
                            <div class="input-group-append" data-target="#visited-date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="@Model.VisitedCounty.VisitDate" class="error invalid-feedback"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]"
                               class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}