@{
    Layout = "_AppLayout";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["VisitedCounties.Title.Text"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["VisitedCounties.Title.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" style="margin-bottom: 80px;">
                    <div class="card-body">
                        <div>
                            <input type="hidden" id="TableExportBtnText" value="@localization["Table.ExportBtn.Text"]" />
                            <input type="hidden" id="TableEditBtnText" value="@localization["Table.EditBtn.Text"]" />
                            <input type="hidden" id="TableDeleteBtnText" value="@localization["Table.DeleteBtn.Text"]" />
                            <input type="hidden" id="ActiveLanguage" value="@Thread.CurrentThread.CurrentCulture.Name" />
                            <input type="hidden" id="AddOrEditModalCountySelectionText"
                                   value="@localization["AddOrEditModal.CountySelection.Text"]" />

                            <input type="hidden" id="VisitedCountiesEditModalTitleText"
                                   value="@localization["VisitedCounties.EditModal.Title.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupTitleText" value="@localization["DeleteRequestPopup.Title.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupBodyText" value="@localization["DeleteRequestPopup.Body.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupConfirmBtnText"
                                   value="@localization["DeleteRequestPopup.ConfirmBtn.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupCancelBtnText"
                                   value="@localization["DeleteRequestPopup.CancelBtn.Text"]" />
                            <div class="row d-flex justify-content-between">
                                <div id="outside">
                                </div>
                                <div>
                                    <a onclick="showInPopup('@Url.Action("Add", "VisitedCounty", new { Id = 0 }, Context.Request.Scheme)', '@localization["VisitedCounties.AddModal.Title.Text"]')"
                                       class="btn btn-primary mb-3 float-end mr-2" role='button'>
                                        @localization["Table.AddBtn.Text"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table id="tblData" class="table table-bordered table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>
                                        @localization["VisitedCounties.Table.Column1.Text"]
                                    </th>
                                    <th>
                                        @localization["VisitedCounties.Table.Column2.Text"]
                                    </th>
                                    <th>
                                        @localization["VisitedCounties.Table.Column3.Text"]
                                    </th>
                                    <th>
                                        @localization["VisitedCounties.Table.Column4.Text"]
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/custom/visited-county.min.js"></script>
}
