@model ForgotPasswordRequestDto

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "_AuthLayout";
}

<div class="login-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <div class="row">
                <img class="img-fluid mb-4 rounded mx-auto d-block"
                     src="~/img/icons/app-logo-primary.png"
                     alt=""
                     width="64"
                     height="64" />
            </div>
            <h1>@localization["Layout.Header.Title.Text"]</h1>
        </div>
        <div class="card-body">
            <p class="login-box-msg">@localization["ForgotPassword.SubTitle1.Text"]</p>
            <p class="login-box-msg">@localization["ForgotPassword.SubTitle2.Text"]</p>
            <form asp-controller="Auth" asp-action="ForgotPassword" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="@localization["ForgotPassword.Item1.Text"]" asp-for="@Model.Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Email" class="error invalid-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">@localization["ForgotPassword.SubmitBtn.Text"]</button>
                    </div>
                </div>
            </form>
            <p class="mt-3 mb-1">
                <a asp-controller="Auth" asp-action="Login">@localization["ForgotPassword.Item2.Text"]</a>
            </p>
            <p>
                <a asp-controller="Home" asp-action="Index" class="text-center">@localization["ForgotPassword.Item3.Text"]</a>
            </p>
            <p>
                <div class="full-width">
                    <partial name="_CulturePartial" />
                </div>
            </p>
        </div>
    </div>
</div>

