@model RegisterRequestDto

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <div class="row">
                <img class="img-fluid mb-4 rounded mx-auto d-block"
                     src="~/img/icon/app-logo-primary.png"
                     alt=""
                     width="64"
                     height="64" />
            </div>
            <h1>@localization["Layout.Header.Title.Text"]</h1>
        </div>
        <div class="card-body">
            <p class="login-box-msg">@localization["Register.SubTitle.Text"]</p>

            <form asp-controller="Auth" asp-action="Register">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="@localization["Register.Item1.Text"]" asp-for="@Model.Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Name" class="error invalid-feedback"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="@localization["Register.Item2.Text"]" asp-for="@Model.Surname">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Surname" class="error invalid-feedback"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="@localization["Register.Item3.Text"]" asp-for="@Model.Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Username" class="error invalid-feedback"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="@localization["Register.Item4.Text"]" asp-for="@Model.Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Email" class="error invalid-feedback"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="@localization["Register.Item5.Text"]" asp-for="@Model.Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.Password" class="error invalid-feedback"></span>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="@localization["Register.Item6.Text"]" asp-for="@Model.PasswordConfirm">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    <span asp-validation-for="@Model.PasswordConfirm" class="error invalid-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">@localization["Register.SubmitBtn1.Text"]</button>
                    </div>
                    
                </div>
            </form>

            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    @localization["Register.SubmitBtn2.Text"]
                </a>
            </div>
            <p>
                <a asp-controller="Auth" asp-action="RegisterApplication" class="text-center">@localization["Register.Item9.Text"]</a>
            </p>
            <p>
                <a asp-controller="Auth" asp-action="Login" class="text-center">@localization["Register.Item7.Text"]</a>
            </p>
            <p>
                <a asp-controller="Home" asp-action="Index" class="text-center">@localization["Register.Item8.Text"]</a>
            </p>
            <p>
                <div class="full-width">
                    <partial name="_CulturePartial" />
                </div>
            </p>
        </div>
    </div>
</div>