@{
    ViewData["Title"] = "Index";
}

@model IQueryable<AuditTrail>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["AuditTrails.Title.Text"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["AuditTrails.Title.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @(Html
                            .Grid(Model)
                            .Build(columns =>
                            {
                                columns.Add(model => $"<a class='btn btn-block btn-default btn-sm' href=\"/App/AuditTrail/Trail/{model.Id}\"><i class='fas fa-eye'></i></a>").Encoded(false);
                                columns.Add(model => model.Username).Titled(@localization["AuditTrails.Table.Column1.Text"]);
                                columns.Add(model => model.TableName).Titled(@localization["AuditTrails.Table.Column2.Text"]);
                                columns.Add(model => model.Type).Titled(@localization["AuditTrails.Table.Column3.Text"]);
                                columns.Add(model => model.CreatedDate).Titled(@localization["AuditTrails.Table.Column8.Text"]);
                            })
                            .Filterable(GridFilterCase.Lower)
                            .Using(GridFilterMode.Row)
                            .Empty(@localization["AuditTrails.Table.ResultMessage.Text"])
                            .Pageable(pager =>
                            {
                                pager.RowsPerPage = 10;
                            })
                            .Sortable()
                            )
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>