@model AuditTrailViewModel

@{
    ViewData["Title"] = "View";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["AuditTrails.View.Title.Text"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["AuditTrails.View.Title.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table text-nowrap">
                            <thead>
                                <tr>
                                    <th>@localization["AuditTrails.Table.Column1.Text"]</th>
                                    <th>@localization["AuditTrails.Table.Column2.Text"]</th>
                                    <th>@localization["AuditTrails.Table.Column3.Text"]</th>
                                    <th>@localization["AuditTrails.Table.Column4.Text"]</th>
                                    <th>@localization["AuditTrails.Table.Column8.Text"]</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.Username</td>
                                    <td>@Model.TableName</td>
                                    <td>@Model.Type</td>
                                    <td>@Model.PrimaryKey.FirstOrDefault().Key: @Model.PrimaryKey.FirstOrDefault().Value</td>
                                    <td>@Model.CreatedDate</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @if (Model.AffectedColumns.Count > 0)
        {
            <div class="row">
                <div class="col-12">
                    <div class="form-group mt-3 mb-0">
                        <label class="control-label">@localization["AuditTrails.Table.Column5.Text"]</label>
                    </div>
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table text-nowrap">
                                <thead>
                                    <tr>
                                        <th>@localization["AuditTrails.Table.AffectedColumn.Text"]</th>
                                        <th>@localization["AuditTrails.Table.Column6.Text"]</th>
                                        <th>@localization["AuditTrails.Table.Column7.Text"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AffectedColumns)
                                    {
                                    <tr>
                                        <td>@item.ColumnName</td>
                                        <td>@item.OldValue</td>
                                        <td>@item.NewValue</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>