@model VisitorAddViewModel

@{
    ViewData["Title"] = "Add";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" onsubmit="return AddRecord(this);"
            autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="VisitorRequestDto.Name"
                        class="control-label">@localization["Visitors.Table.Column1.Text"]</label>
                    <input asp-for="VisitorRequestDto.Name" class="form-control" />
                    <span asp-validation-for="VisitorRequestDto.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="VisitorRequestDto.Surname"
                        class="control-label">@localization["Visitors.Table.Column2.Text"]</label>
                    <input asp-for="VisitorRequestDto.Surname" class="form-control" />
                    <span asp-validation-for="VisitorRequestDto.Surname" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VisitorRequestDto.BirthDate"
                            class="control-label">@localization["Visitors.Table.Column3.Text"]</label>
                        <input asp-for="VisitorRequestDto.BirthDate" class="form-control" />
                        <span asp-validation-for="VisitorRequestDto.BirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="VisitorRequestDto.Gender"
                            class="control-label">@localization["Visitors.Table.Column4.Text"]</label>
                        <select asp-for="VisitorRequestDto.Gender" asp-items="@Model.GenderList" class="form-select">
                            <option disabled selected>@localization["AddOrEditModal.GenderSelection.Text"]</option>
                        </select>
                        <span asp-validation-for="VisitorRequestDto.Gender" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="VisitorRequestDto.CityId"
                        class="control-label">@localization["Visitors.Table.Column6.Text"]</label>
                    <select id="citylist" onchange="cityChange()" asp-for="VisitorRequestDto.CityId"
                        asp-items="@Model.CityList" class="form-select">
                        <option disabled selected value="0">@localization["AddOrEditModal.CitySelection.Text"]</option>
                    </select>
                    <span asp-validation-for="VisitorRequestDto.CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4" id="countylist">
                <div class="form-group">
                    <label asp-for="VisitorRequestDto.CountyId"
                        class="control-label">@localization["Visitors.Table.Column7.Text"]</label>
                    <select id="county-id" asp-for="VisitorRequestDto.CountyId" asp-items="@Model.CountyList" class="form-select">
                        <option disabled selected value="0">@localization["AddOrEditModal.CountySelection.Text"]
                        </option>
                    </select>
                    <span asp-validation-for="VisitorRequestDto.CountyId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]"
                            class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}