<div class="container">
    <h1 class="text-center">@localization["Visitors.Title.Text"]</h1>
    <div>
        <input type="hidden" id="VisitorsExportVisitorBtnText" value="@localization["Visitors.ExportVisitorBtn.Text"]" />
        <input type="hidden" id="VisitorsTableColumn5EditBtnText" value="@localization["Visitors.Table.Column5.EditBtn.Text"]" />
        <input type="hidden" id="VisitorsTableColumn5DeleteBtnText" value="@localization["Visitors.Table.Column5.DeleteBtn.Text"]" />
        <input type="hidden" id="ActiveLanguage" value="@Thread.CurrentThread.CurrentCulture.Name" />
        <div class="float-start" id="outside">
        </div>
        <div class="float-end">
            <a onclick="showInPopup('@Url.Action("AddOrEdit", "Visitor", new { Id = 0 }, Context.Request.Scheme)', '@localization["Visitors.AddVisitorBtn.Text"]')"
               class="btn btn-primary mb-3 float-end" role='button'>
                @localization["Visitors.AddVisitorBtn.Text"]
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @localization["Visitors.Table.Column1.Text"]
                </th>
                <th>
                    @localization["Visitors.Table.Column2.Text"]
                </th>
                <th>
                    @localization["Visitors.Table.Column3.Text"]
                </th>
                <th>
                    @localization["Visitors.Table.Column4.Text"]
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/visitor.js"></script>
}
