@model VisitedCountyViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<script type="text/javascript">
    var visitorBirthDates = @Html.Raw(Json.Serialize(ViewBag.BirthDates));
    var visitorBirthDate = moment(visitorBirthDates[0]).format('YYYY-MM');

    $('.select2').select2({
        dropdownParent: $('#form-modal'),
        theme: 'bootstrap4',
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });

    $('#visitor-birthdate').datetimepicker({ icons: { time: 'far fa-clock' } });
</script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@Model.VisitedCounty.Id" onsubmit="return EditRecord(this);"
              autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.VisitedCounty.Id" />
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.UserId"
                               class="control-label">@localization["VisitedCounties.Table.Column1.Text"]</label>
                        <select asp-for="@Model.VisitedCounty.UserId" asp-items="@Model.VisitorList" class="form-control select2" style="width: 100% !important;" id="visitor-select-field">
                            <option disabled selected>@localization["AddOrEditModal.VisitorSelection.Text"]</option>
                        </select>
                        <span asp-validation-for="@Model.VisitedCounty.UserId" class=" text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.CityId"
                               class="control-label">@localization["VisitedCounties.Table.Column3.Text"]</label>
                        <select id="citylist" onchange="cityChange()" asp-for="@Model.VisitedCounty.CityId" asp-items="@Model.CityList"
                                class="form-control select2" style="width: 100% !important;">
                            <option disabled selected value="0">@localization["AddOrEditModal.CitySelection.Text"]</option>
                        </select>
                        <span asp-validation-for="@Model.VisitedCounty.CityId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4" id="countylist">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.CountyId"
                               class="control-label">@localization["VisitedCounties.Table.Column2.Text"]</label>
                        <select id="county-id" asp-for="@Model.VisitedCounty.CountyId" asp-items="@Model.CountyList" class="form-control select2" style="width: 100% !important;">
                            <option disabled selected value="0">
                                @localization["AddOrEditModal.CountySelection.Text"]
                            </option>
                        </select>
                        <span asp-validation-for="@Model.VisitedCounty.CountyId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.VisitedCounty.VisitDate"
                               class="control-label">@localization["VisitedCounties.Table.Column4.Text"]</label>
                        <div class="input-group date" id="visited-date" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#visited-date" asp-for="@Model.VisitedCounty.VisitDate">
                            <div class="input-group-append" data-target="#visited-date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <span asp-validation-for="@Model.VisitedCounty.VisitDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]"
                               class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}