@model VisitorStatisticViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">@Model.GetLongestDistanceByVisitorOneTime.Item2</h1>
                    <h4>km</h4>
                    <h5>@Model.GetLongestDistanceByVisitorOneTime.Item1</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Longest Distance By Visitor One Time</h5>
                </div> 
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">@Model.GetLongestDistanceByVisitorAllTime.Item2</h1>
                    <h4>km</h4>
                    <h5>@Model.GetLongestDistanceByVisitorAllTime.Item1</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Longest Distance By Visitor All Time</h5>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">@Model.GetHighestCountOfVisitedStateByVisitor.Item2</h1>
                    <h4>state</h4>
                    <h5>@Model.GetHighestCountOfVisitedStateByVisitor.Item1</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Highest Count Of Visited State By Visitor</h5>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="card border-success mb-3">
                <div class="card-body text-success text-center">
                    <h1 class="card-title">@Model.GetHighestCountOfVisitedCityByVisitor.Item2</h1>
                    <h4>city</h4>
                    <h5>@Model.GetHighestCountOfVisitedCityByVisitor.Item1</h5>
                </div>
                <div class="card-footer bg-transparent border-success text-center">
                    <h5>Highest Count Of Visited City By Visitor</h5>
                </div>
            </div>
        </div>
    </div>
</div>
