@model VisitedCountyAddViewModel

@{
    ViewData["Title"] = "Add";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" onsubmit="return AddRecord(this);"
            autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="@Model.VisitedCountyRequestDto.CityId"
                        class="control-label">@localization["VisitedCounties.Table.Column3.Text"]</label>
                    <select id="citylist" onchange="cityChange()" asp-for="@Model.VisitedCountyRequestDto.CityId" asp-items="@Model.CityList"
                        class="form-select">
                        <option disabled selected value="0">@localization["AddOrEditModal.CitySelection.Text"]</option>
                    </select>
                    <span asp-validation-for="@Model.VisitedCountyRequestDto.CityId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4" id="countylist">
                <div class="form-group">
                    <label asp-for="@Model.VisitedCountyRequestDto.CountyId"
                        class="control-label">@localization["VisitedCounties.Table.Column2.Text"]</label>
                    <select id="county-id" asp-for="@Model.VisitedCountyRequestDto.CountyId" asp-items="@Model.CountyList" class="form-select">
                        <option disabled selected value="0">@localization["AddOrEditModal.CountySelection.Text"]
                        </option>
                    </select>
                    <span asp-validation-for="@Model.VisitedCountyRequestDto.CountyId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="VisitedCountyRequestDto.VisitorId"
                        class="control-label">@localization["VisitedCounties.Table.Column1.Text"]</label>
                    <select asp-for="VisitedCountyRequestDto.VisitorId" asp-items="@Model.VisitorList" class="form-select">
                        <option disabled selected>@localization["AddOrEditModal.VisitorSelection.Text"]</option>
                    </select>
                    <span asp-validation-for="VisitedCountyRequestDto.VisitorId" class=" text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="form-group">
                    <label asp-for="VisitedCountyRequestDto.VisitDate"
                        class="control-label">@localization["VisitedCounties.Table.Column4.Text"]</label>
                    <input asp-for="VisitedCountyRequestDto.VisitDate" class="form-control" />
                    <span asp-validation-for="VisitedCountyRequestDto.VisitDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]"
                            class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}