@model PermissionViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@localization["Roles.EditModal.Title.Text"]</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">@localization["Role." + @User.Claims.Where(x => x.Type == ClaimTypes.Role).Select(x => x.Value).FirstOrDefault() + ".Text"]</li>
                    <li class="breadcrumb-item active">@localization["Roles.EditModal.Title.Text"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form asp-area="App" asp-controller="Role" asp-action="Edit">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.Role.Name" class="control-label">@localization["Roles.Table.Column1.Text"]</label>
                                        <input asp-for="@Model.Role.Name" class="form-control" />
                                        <span class="error invalid-feedback">@TempData["ErrorMessage"]</span>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" asp-for="Role.Id" />
                            <label class="control-label mb-0 mt-4">@localization["Roles.Permission.Title.Text"]</label>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@localization["Roles.Permission.Table.Column1.Text"]</th>
                                        <th>@localization["Roles.Permission.Table.Column2.Text"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.RoleClaims.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" asp-for="@Model.RoleClaims[i].DisplayValue" />
                                                <div class="form-check m-1">
                                                    <input asp-for="@Model.RoleClaims[i].IsSelected" class="form-check-input" />
                                                </div>
                                            </td>
                                            <td>@localization["Roles.Permission." + @Model.RoleClaims[i].DisplayValue.Split('.')[1] + ".Text"]</td>
                                            <td>@localization["Roles.Permission." + @Model.RoleClaims[i].DisplayValue.Split('.')[2] + ".Text"]</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">@localization["AddOrEditModal.SubmitBtn.Text"]</button>
                                </div>
                            </div>
                            </<div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>