@model CityViewModel

@{
    ViewData["Title"] = "Add";
    Layout = null;
}

<script type="text/javascript">
    $('.select2').select2({
        dropdownParent: $('#form-modal'),
        theme: 'bootstrap4',
        language: document.getElementById('ActiveLanguage').value.substring(0, 2)
    });
</script>

<div class="row">
    <div class="col-md-12">
        <form asp-action="Add" onsubmit="return AddRecord(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.City.Name" class="control-label">@localization["Cities.Table.Column1.Text"]</label>
                        <input asp-for="@Model.City.Name" class="form-control" />
                        <span asp-validation-for="@Model.City.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.City.Code" class="control-label">@localization["Cities.Table.Column2.Text"]</label>
                        <input asp-for="@Model.City.Code" class="form-control" />
                        <span asp-validation-for="@Model.City.Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="@Model.City.CountryId" class="control-label">@localization["Cities.Table.Column3.Text"]</label>
                        <select asp-for="@Model.City.CountryId" asp-items="@Model.CountryList" class="form-control select2" style="width: 100% !important;" id="city-select-field">
                            <option disabled selected>@localization["AddOrEditModal.CountrySelection.Text"]</option>
                        </select>
                        <span asp-validation-for="@Model.City.CountryId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="form-group mt-4">
                        <input type="submit" value="@localization["AddOrEditModal.SubmitBtn.Text"]" class="btn btn-primary w-100" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}