@model RegisterInput

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<div class="register-box">
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <div class="row">
                <img class="img-fluid mb-4 rounded mx-auto d-block"
                     src="~/img/icon/app-logo-primary.png"
                     alt=""
                     width="64"
                     height="64" />
            </div>
            <a href="~/index2.html" class="h1">Ziyaretçi Defteri</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">Sisteme erişmek için üye ol</p>

            <form asp-controller="Auth" asp-action="Register">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Ad" asp-for="@Model.Name">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Soyad" asp-for="@Model.Surname">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" asp-for="@Model.Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="E-posta" asp-for="@Model.Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Şifre" asp-for="@Model.Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Şifre (Tekrar)" asp-for="@Model.PasswordConfirm">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                Koşulları <a href="#">onaylıyorum</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Üye Ol</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <a href="#" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i>
                    Facebook ile Üye Ol
                </a>
            </div>

            <a asp-controller="Auth" asp-action="SignIn" class="text-center">Zaten bir üyeliğim var</a>
            <p>
                <a asp-controller="Home" asp-action="Index" class="text-center">Ana Sayfaya Geri Dön</a>
            </p>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>