<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item">Admin</li>
                    <li class="breadcrumb-item active">@localization["Visitors.Title.Text"]</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <input type="hidden" id="TableExportBtnText" value="@localization["Table.ExportBtn.Text"]" />
                            <input type="hidden" id="TableEditBtnText" value="@localization["Table.EditBtn.Text"]" />
                            <input type="hidden" id="TableDeleteBtnText" value="@localization["Table.DeleteBtn.Text"]" />
                            <input type="hidden" id="ActiveLanguage" value="@Thread.CurrentThread.CurrentCulture.Name" />
                            <input type="hidden" id="AddOrEditModalCountySelectionText"
                                   value="@localization["AddOrEditModal.CountySelection.Text"]" />
                            <input type="hidden" id="VisitorsEditModalTitleText" value="@localization["Visitors.EditModal.Title.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupTitleText" value="@localization["DeleteRequestPopup.Title.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupBodyText" value="@localization["DeleteRequestPopup.Body.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupConfirmBtnText"
                                   value="@localization["DeleteRequestPopup.ConfirmBtn.Text"]" />
                            <input type="hidden" id="DeleteRequestPopupCancelBtnText"
                                   value="@localization["DeleteRequestPopup.CancelBtn.Text"]" />
                            <div class="row d-flex justify-content-between">
                                <div id="outside">
                                </div>
                                <h1 class="m-0">@localization["Visitors.Title.Text"]</h1>
                                <div>
                                    <a onclick="showInPopup('@Url.Action("Add", "Visitor", new { Id = 0 }, Context.Request.Scheme)', '@localization["Visitors.AddModal.Title.Text"]')"
                                       class="btn btn-primary mb-3 float-end" role='button'>
                                        @localization["Table.AddBtn.Text"]
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>
                                        @localization["Visitors.Table.Column1.Text"]
                                    </th>
                                    <th>
                                        @localization["Visitors.Table.Column2.Text"]
                                    </th>
                                    <th>
                                        @localization["Visitors.Table.Column3.Text"]
                                    </th>
                                    <th>
                                        @localization["Visitors.Table.Column4.Text"]
                                    </th>
                                    <th>

                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Scripts {
    <script src="~/js/visitor.js"></script>
}
