<div class="container">
    <h1 class="text-center">@localization["VisitedStates.Title.Text"]</h1>
    <div>
        <input type="hidden" id="VisitedStatesExportVisitedStateBtnText" value="@localization["VisitedStates.ExportVisitedStateBtn.Text"]" />
        <input type="hidden" id="VisitedStatesTableColumn5EditBtnText" value="@localization["VisitedStates.Table.Column5.EditBtn.Text"]" />
        <input type="hidden" id="VisitedStatesTableColumn5DeleteBtnText" value="@localization["VisitedStates.Table.Column5.DeleteBtn.Text"]" />
        <div class="float-start" id="outside">
        </div>
        <div class="float-end">
            <a onclick="showInPopup('@Url.Action("AddOrEdit", "VisitedState", new { Id = 0 }, Context.Request.Scheme)', '@localization["VisitedStates.AddVisitedStateBtn.Text"]')"
               class="btn btn-primary mb-3 float-end" role='button'>
                @localization["VisitedStates.AddVisitedStateBtn.Text"]
            </a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    @localization["VisitedStates.Table.Column1.Text"]
                </th>
                <th>
                    @localization["VisitedStates.Table.Column2.Text"]
                </th>
                <th>
                    @localization["VisitedStates.Table.Column3.Text"]
                </th>
                <th>
                    @localization["VisitedStates.Table.Column4.Text"]
                </th>
                <th>

                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/visited-state.js"></script>
}
